{% extends "default.html" %}

{% block content %}

    <h1>{{ page.subpages|length }} Films Cultes:</h1>
    {% set row_class = cycler('odd', 'even') %}
    {% for film in page.subpages|sort(attribute='sortable') %}
      <div class="film {{ row_class.next() }}">
        <span class="title"> {{ film.title }} </span> <a href="http://www.imdb.com/find?q={{ film.title }}&s=all">imdb</a> <span class="desc"> {{ film.content }} </span>
	<span class='realisateur'>{{ 'Réalisateur:'+film.realisateur+'<br />' if film.realisateur }}</span>
	<span class="genre">{{'genre:' if film.tags}}{{ film.tags|sort|join(', ')}}</span>
      </div>
    {% endfor %}
{% endblock %}
